@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-darkgray: #777;
  --color-main: #f2c4a2;
  
  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  --weight-normal: 100;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: 'NanumSquare', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--font-normal);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: var(--color-white);
  z-index: 1;
}

.navbar_logo {
  font-size: var(--font-medium);
  letter-spacing: 3px;
}

.navbar_menu {
  display: flex;
}

.navbar_menu_item {
  width: 100%;
  padding: 8px 12px;
  margin: 0 4px;
  border: 1px solid transparent;
  color: var(--color-black);
  cursor: pointer;
  letter-spacing: 3px;
}

.navbar_menu_item:hover {
  border-color: var(--color-main);
  border-radius: var(--size-border-radius);
}

.navbar_toggle-btn {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 24px;
  color: var(--color-black);
  display: none;
}

/* Home */
#home {
  width: 100%;
  padding: 40px;
  padding-top: 100px;
  background-color: var(--color-main);
  text-align: center;
}

.home_container {
  position: relative;
}

.home_avatar {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home_title,
.home_description {
  color: var(--color-white);
}

.home_contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.home_icons {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

.home_github,
.home_blog {
  margin-bottom: 10px;
  font-size: var(--font-large);
}

.home_github a,
.home_blog a {
  color: var(--color-white);
}

.home_contact:hover,
.home_github a:hover,
.home_blog a:hover {
  border-color: var(--color-darkgray);
  color: var(--color-darkgray);
  transition: all 200ms ease-in;
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section_container {
  max-width: 1200px;
  margin: auto;
}

/* About */
#about {}

.about_majors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 80px 0;
}

.major {
  margin: 0 40px;
}

/* Skill */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.slide {
  animation-name: slide;
  animation-duration: 1s;
  visibility: visible;
}

#skills {
}

.skillset {
  font-size: 100px;
  margin: 20px 0;
}

.skillset ul {
  display: flex;
  justify-content: space-between;
}

.skill_html {
  color: #e55125;
}

.skill_css {
  color: #0a73b8;
}

.skill_js {
  color: #e5a228;
}

.skill_react {
  color: #61dafb
}

.skill_node {
  color: #339933;
}

/* Work */
.work_categories {
  margin: 40px;
}

.work_projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-black);
}

.project_img {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}

/* Contact */
#contact {
  background-color: var(--color-main);
}

.contact_title,
.contact_email a,
.contact_rights {
  color: var(--color-white);
}

.contact_title {
  margin: 32px 0;
}

.contact_rights {
  margin-top: 30px;
}

/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 50px;
  color: var(--color-darkgray);
  pointer-events: none;
  /*
  display: none -> block 처리를 하면 animation이 먹지 않는다.
  그래서 opacity를 주게 되는데 그러면 그 부분을 실수로 누르면 망하기(?) 때문에 pointer-events: none; 처리
  */
  opacity: 0;
  transition: all 300ms ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .navbar_toggle-btn {
    display: block;
  }

  #navbar {
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-white);
  }

  .navbar_container {
    width: 100%;
  }

  .navbar_menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar_menu.open {
    display: block;
  }

  .about_majors {
    margin: 40px 0 0 0;
  }

  .major {
    margin-bottom: 38px;
  }

  .skillset ul{
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }

  .contact_rights {
    margin: 30px 0 10px;
  }

  .arrow-up {
    bottom: 0;
    right: 0;
  }
}

/* For below 360px screen width */
@media screen and (max-width: 375px) {
  h1 {
    font-size: var(--font-medium);
  }

  h2 {
    font-size: var(--font-regular);
  }

  h3 {
    font-size: var(--font-micro);
  }

  #about p,
  #skills p {
    font-size: var(--font-micro);
  }

  .about_majors {
    margin: 40px 0 0 0;
  }

  .contact_title {
    margin: 0;
  }

  .contact_rights {
    font-size: var(--font-micro);
  }
}